@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<StudentModel>
@{
    ViewData["Titel"] = "Index";
}

@if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container p-4 mt-2">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Students</h2>
        </div>
        <div class="col-6">
           <a class="btn btn-primary float-end" asp-action="Create" asp-controller="Student"><i class="bi bi-plus-circle"></i> Create Student</a>
        </div>
    </div>
</div>
<hr/>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Semester</th>
            <th>Date Of Birth</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
       {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Semester</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Address</td>
                <td role="group">
                    <a class="text-success" asp-action="Edit" asp-controller="Student" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                    <a class="text-danger" asp-action="Delete" asp-controller="Student" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
           
       }
    </tbody>
</table>
